/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
  height:50px;
}
.navbar-brand>img {
  padding: 15px;
  width: 80%;
}
.navbar-inverse {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-inverse .navbar-brand {
    color: #fff !important;
}
/* EXAMPLE 6 - Background Logo*/
.example6 .navbar-brand{ 
  background: url(../image/logo.png) left / contain no-repeat;
  width: 700px;
  text-align: center;
  font-size : 30px;
}

.form-control {
    width: 30% !important; 
}

h4 {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 40px;
	padding: 5px 15px;
	color: #333 !important;
	font-family: 'Muli', sans-serif;
	text-align: left;
}

.loginForm
{
	border: 1px solid #333; 
	background : #333;
	color : #fff;
	padding : 3% 0% 0% 0%;
}

.divReportHead {
    background: lightGrey;
}

.divReportBody {
    background: lightblue;
}

.row{
    overflow: hidden; 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

input[type=text], select {    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
